
@font-face {
    font-family: 'bellotaregular';
    src: url('fonts/Bellota-Regular-webfont.eot');
    src: url('fonts/Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bellota-Regular-webfont.woff2') format('woff2'),
         url('fonts/Bellota-Regular-webfont.woff') format('woff'),
         url('fonts/Bellota-Regular-webfont.ttf') format('truetype'),
         url('fonts/Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    font: 1em "bellotaregular", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ----Partie Nav ----*/

nav
{
  background-color: rgb(59, 59, 58);
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
}

nav a
{
  padding: 20px;
  color: rgb(218, 218, 218);
  font-size: 22px;
  cursor: pointer;
}

a:link
{
text-decoration:none;
}

.logo_navbar
{
  width: 65px;
  height: 71px;
}

.links
{
  display: flex;
  align-items: center;
}

.links :hover
{
  color: #000;
  background-color: #D3D3D3;
}

.burger, .close 
{
  display: none;
}

.image_1 
{
  width : 100vw;
  height: 400px;
}

div .carousel p
{
  height: 200px;
}

.carousel
{
  background-image: url("https://i.postimg.cc/Hs0wWfBN/Orle-ans-Loire.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100vw;
}

/* Mobile Styles */
@media screen and (min-width: 372px) and (max-width: 812px) {
  .logo_navbar
{
display: none;
}
  
  a:link
{
text-decoration:none;
}
  
  .burger, .close 
  {
      display: block;
  }
  
  .close
  {
    position: absolute;
    top: 0;
    right: 20px;
  }
  
  .links 
  {
    display: none;
  }
  
  .links:target 
  {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(59, 59, 58);
    width: 100vw;
    height: 100vh;
    top: 0;
    padding: 10vw;
  }
  
.carousel
{
  background-color: rgb(59, 59, 58);
}
}
/*----Partie Actions et Associations----*/

.actions img, .assos img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 10px solid whitesmoke;
}

.title-actions {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px;
    height: 180px;
    padding: 40px;
    text-align: center;
    font-size: 4em;
    background-color: white;
    color: #73be31;
    text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
}

.actions {
    background-image: url("https://i.postimg.cc/ZqnDCBcW/lou-levit-0l-HIMPh-Rt-N8-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.actions h2 {
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin: 30px;
    width: 350px;
    background-color: #73be31;
    color: white;
    border-radius: 5px;
    text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
}

.title-assos {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0px;
    height: 180px;
    padding: 40px;
    text-align: center;
    font-size: 4em;
    background-color: white;
    color: #73be31;
    text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
}

hr {
    display:none;
}

.assos {
    background-image: url("https://i.postimg.cc/ZqnDCBcW/lou-levit-0l-HIMPh-Rt-N8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.assos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.assos h2 {
    font-size: 2em;
    text-align: center;
    width: 350px;
    background-color: #73be31;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
}

@media (min-width:1017px) {
    .actions div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 20px;
    }
}


@media (max-width:1017px) {

    .actions {
        display: flex;
        flex-direction: column;
    }
    .actions img {
        height: 300px;
        width: 300px;   
    }

    .actions h2 {
        width: 100px;
        font-size: 1em;
    }
    
    .action1 {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .action2 {
        display:flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .action3 {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
}

/*Partie gestion des déchets*/

h1 {
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 20px;
}


.titreconseils {
  padding-bottom: 50px;
}

.containerconseil {

  padding-bottom: 40px;
  padding-top: 40px;
        background: 
      linear-gradient(rgba(141,153,174,0.8),rgba(141,153,174,0.8)), 
      url(https://upload.wikimedia.org/wikipedia/commons/c/c0/Tri_des_d%C3%A9chets_%28cropped%29.jpg) no-repeat fixed;
    background-position: center;
    background-size: cover;
    font-size:20px
}


.conteneur{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
   margin-bottom: 100px;
}

.titrecollecte {
  padding-bottom: 50px;
  padding-top: 40px;
  font-size: 20px;
}

details {
    border: 1px solid black;
    border-radius: 4px;
    padding: .5em .5em 0;
  width: 100%;
  background-color: white;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.cotegauche{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 30%;
}

.pointsdecollecte {
  padding-top: 40px;
}

.imagecentre {
  display: flex;
  width: 40%;
  height: 20%;
}
              

            /*Gestion des déchets, partie mobile CSS*/


@media only screen and (max-width: 961px){


  .conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cotegauche {
    display: flex;
  justify-content: center;
    margin-bottom: 50px;
  }
  
  
  .imagecentre {
    display: flex;
  justify-content: center; 
    width: 90%;
  }
}

/*Footer - Lionel*/


.contact{
  text-align:center;
  font-size:34px;
  text-transform:uppercase;
}

form{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-bottom:5px;
  text-transform:uppercase;
}

form input{
  height:25px;
}

form input, textarea{
  border:1px solid black;
  border-radius:8px;
  margin-bottom:0.7rem;
  width:50%;
}

.submit{
  justify-content:center;
  background-color:#A9A9A9;
  color:black;
  font-size:1rem;
  padding:0.1rem;
  border:0,1rem solid black;
  width:5rem;
}

.titre_formulaire{
  font-size:18px;
}

footer{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:#73be31;
  height:21vh;
}

footer div{
  display:flex;
  flex-direction:column;
}

.footer1{
  align-items:flex-start;
  flex-wrap:wrap;
  margin-top:15px;
  width:70%;
  height:15vh;
}

.footer1 a{
  color:white;
  text-decoration:none;
  text-shadow: 1px 1px 2px white;
}

.footer1 a:hover{
  text-decoration:underline;
}

.footer2{
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content:space-around;
  align-content:center;
  width:100%;
  margin-top:15px;
}

.footer2 a{
  color:white;
  text-decoration:none;
  font-weight: bold;
}

.footer2 a:hover{
  text-decoration:underline;
}

h3{
  text-align:center;
}

.logo{
  border-radius:50%;
  height:40px;
}

@media (max-width:961px){
  footer{
      display:flex;
      flex-direction:column;
      align-items:center;
  }