
@font-face {
    font-family: 'bellotaregular';
    src: url('fonts/Bellota-Regular-webfont.eot');
    src: url('fonts/Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Bellota-Regular-webfont.woff2') format('woff2'),
         url('fonts/Bellota-Regular-webfont.woff') format('woff'),
         url('fonts/Bellota-Regular-webfont.ttf') format('truetype'),
         url('fonts/Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  margin: 0;
}

* {
    font: 1em "bellotaregular", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* ----Partie Nav ----*/

.navbar
{
  background-color: #555;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0; 
  opacity: 0.9;
  z-index: 10;
}

.navbar a
{
  padding: 20px;
  color: rgb(218, 218, 218);
  font-size: 22px;
  cursor: pointer;
  font-weight:bold;
}

a:link
{
text-decoration:none;
}

.logo_navbar
{
  width: 65px;
  height: 71px;
}

.links
{
  display: flex;
  align-items: center;
}

.links :hover
{
  color: #000;
  background-color: #D3D3D3;
  text-decoration: none;
}

.burger, .close 
{
  display: none;
}

.carousel
{
  background-color: var(-mainColor);
  background-image: radial-gradient(white 8%,transparent 70%),url(http://placeimg.com/1000/500/nature);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.carousel h1
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  font-weight: bold;
  font-style: italic;
  color: #73be31;
  font-size: 6em;
  margin: 0;
  text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
}


/* Mobile Styles */
@media screen and (max-width: 961px) {
  .logo_navbar
{
display: none;
}

  a:link
  {
  text-decoration:none;
  }

.carousel h1
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  font-weight: bold;
  font-style: italic;
  color: #73be31;
  font-size: 4em;
  margin: 0;
  text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
}

  .burger:hover
  {
  color: #000;
  background-color: #D3D3D3;
  }
  
  .burger, .close 
  {
      display: block;
  }
  
  .close
  {
    position: absolute;
    top: 0;
    right: 20px;
  }
  
  .links 
  {
    display: none;
  }
  
  .links:target 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #555;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    top: 0;
    padding-top: 60px;
  }
  
}

/*----Partie Actions et Associations----*/

.actions img, .assos img {
  width: 300px;
  height: 300px;
  margin: 25px;
  border-radius: 50%;
  border: 10px solid whitesmoke;
  }
  
  .actions img:hover, .assos img:hover {
  opacity: 0.9;
  transition-duration: 200ms;
  border: 10px solid #73be31;
  }
  
  .title-actions {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0px;
  height: 130px;
  text-align: center;
  font-size: 4em;
  background-color: white;
  color: #73be31;
  }
  
  .actions {
  background-image: url("https://i.postimg.cc/jdmfRLpK/jez-timms-l8xc8t-XJ8-E-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
  .actions h2 {
  font-size: 1.6em;
  text-align: center;
  width: 250px;
  background-color: #73be31;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
  text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
  }
  

  
  .title-assos {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0px;
  height: 130px;
  text-align: center;
  font-size: 4em;
  background-color: white;
  color: #73be31;
  }
  
  .assos {
  background-image: url("https://i.postimg.cc/jdmfRLpK/jez-timms-l8xc8t-XJ8-E-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
  .assos h2 {
  font-size: 1.6em;
  text-align: center;
  width: 250px;
  background-color: #73be31;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
  text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
  }
  
  @media (min-width:1126px) {
  
  .actions div, .assos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 30px 0px;
    padding: 0px;
    }
  }
  
  
  @media (max-width:1126px) and (min-width: 626px) {
  
    .title-actions, .title-assos {
      font-size: 3em;
      height: 100px;
    }
    
    .actions, .assos {
      display: flex;
      flex-direction: column;
    }
    .actions img, .assos img {
      height: 280px;;
      width: 280px;  
      margin: 50px 0px 30px 0px;
    }
    
    .actions h2, .assos h2 {
      width: 35%;
      font-size: 1.5em;
      margin: 30px;
    }
    
    .actions div, .assos div {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .action1, .asso1 {
      display:flex;
      flex-direction: row;  
    }
    
    .action2, .asso2 {
      display:flex;
      flex-direction: row-reverse;  
    }
    
    .action3, .asso3 {
      display:flex;
      flex-direction: row;
    }
  }
  
  @media (max-width: 626px) {
  
      .actions img, .assos img {
          margin :0px;
      }
  
      .title-actions, .title-assos {
        font-size: 2.2em;
        height: 70px;
        margin: 0px;
      }
  
      .actions div {
        margin: 30px 0px 30px 0px;
        display:flex;
        flex-direction: column;
        align-items: center;
      }
  
      .assos div {
        margin: 30px 0px 30px 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
  
  
  }

/*Partie gestion des déchets*/




.titreconseils {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #73be31;
  font-size: 3em;
  text-align: center;
  margin: 0;
}

.titregestiondesdechets{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #73be31;
  font-size: 4em;
  text-align: center;
  padding-top: 30px;
  margin: 0;
  
}


.containerconseil {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 20px;
        background: 
      linear-gradient(rgba(5, 5, 5, 0.7),rgba(5, 5, 5, 0.7)), 
      url(https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat fixed;
    background-position: center;
    background-size: cover;
    font-size:25px;
}

.hovertext:hover {  
    font-size: 1.3em;
    
}

.soustitre {
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
  color: white;
}

.paragrapheconseil {
  color: white;

}




.conteneur{
  background: 
      linear-gradient(rgba(88, 90, 94, 0),rgba(88, 90, 94, 0)), 
      url(https://images.unsplash.com/photo-1426170042593-200f250dfdaf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80) no-repeat fixed;
    background-position: center;
    background-size: cover;
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
   margin-bottom: 100px;
   padding-top: 60px;
   padding-bottom: 60px;
   
}

.titrecollecte {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #73be31;
  text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}



details {
    border: 1px solid black;
    border-radius: 4px;
    padding: .5em .5em 0;
  width: 100%;
  background-color: white;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    background-color: #73be31;
    text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.295);
    border-radius: 5px;
    color: white;
    font-size: 1.6em;
}

details[open] {
    padding: .5em;
    background-color: white;
    color: #73be31;
    text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0);
    font-size: 1.2em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    color: white;
}

.cotegauche{
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 30%;
  
}

.imagecentre {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 20%;
}
              
.imgcentre{
  width: 430px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid whitesmoke;
}

            /*Gestion des déchets, partie mobile CSS*/


@media only screen and (max-width: 961px){


  .conteneur {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cotegauche {
    display: flex;
  justify-content: center;
    margin-bottom: 50px;
  }
  
  
  .imagecentre {
    display: flex;
  justify-content: center; 
    width: 90%;
  }
}

/*Footer - Lionel*/


.contact{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-transform:uppercase;
  text-align: center;
  font-size: 4em;
  color: #73be31;
  text-shadow: 4px 0.4px 6px rgba(31, 35, 35, 0.25);
  }
  
  form{
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-bottom:5px;
  text-transform:uppercase;
  }
  
  form input{
  height:35px;
  }
  
  form label{
  margin-bottom:5px;
  font-size:21px;
  }
  
  form input, textarea{
  border:1px solid black;
  border-radius:5px;
  margin-bottom:1.2rem;
  width:45%;
  padding-left:10px;
  }
  
  .submit{
    text-align: center;
    border-radius:5px;
    background:#73be31;
    border:2px solid #73be31;
    color:white;
    margin-right:5rem;
    margin-left:5rem;
    font-size:20px;
    width:140px;
    height:31px;
    cursor:pointer;
    margin-bottom:50px;
  }
  
  
  .titre_formulaire{
  font-size:18px;
  }
  
  footer{
  background-color: #555;
  color: #bbb;
  line-height:1.5;
  width:100%;
  height:35%;
  }
  
  footer a{
  text-decoration: none;
  color: #eee;
  }
  
  a:hover{
  text-decoration:underline;
  }
  
  .partie_footer{
    display:flex;
    justify-content:space-around;
    padding-bottom:20px;
    border-bottom:2px gray solid;
  }
  
  .texte_debut{
  display:flex;
  flex-flow:column;
  }
  
  .texte_debut a{
  padding-top:3xp;
  font-size:20px;
  text-decoration:none;
  }
  
  .texte_milieu{
    display:flex;
    flex-flow:column;
  }
  
  .texte_milieu a{
  padding-top:3px;
  font-size:20px;
  text-decoration:none;
  }

  
  .texte_fin{
    display:flex;
    flex-flow:column;
  }
  
  .texte_fin a{
    padding-top:3px;
    font-size:20px;
    text-decoration:none;
  }
  
  .footer2{
  display:flex;
  justify-content:center;
  padding-top:1,25rem;
  }
  
  .footer2 a{
  margin:1.5rem;
  }
  
  .footer3{
  background-color:#333;
  display:flex;
  justify-content:space-around;
  align-items:center;
  }
  
  .footer3 a{
  margin:0.125rem 0.625rem;
  font-size:20px;
  text-decoration:none;
  }
  
  
  .titre_formulaire{
  text-align:center;
  font-weight:bold;
  font-size:20px;
  color:white;
  padding-right:80px;
  }
  
  .logo{
  border-radius:50%;
  height:60px;
  padding-left:5px;
  }
  
  
  @media screen and (max-width:961px){
  
  .button{
    display:flex;
    flex-direction:row;
  }
  
  footer{
    height:100%;
  }
  
  .partie_footer{
    display:flex;
    flex-direction:column;
  }
  
  .texte_debut{
    align-items:center;
    border-bottom:2px #777 solid;
    padding-bottom:20px;
  }
  
  .texte_milieu{
    align-items:center;
    border-bottom:2px #777 solid;
    padding-bottom:20px;
  }
  
  .texte_fin{
    align-items:center;
  }

  .titre_formulaire{
    padding-right:0;
  }
  
  .texte_debut, .texte_milieu, .texte_fin{
    font-size:20px;
  }
  
  .footer2{
    border-top:2px #777 solid;
  }
  
  .logo{
    height:40px;
  }
  
  .footer4{
    width:95%;
    height:17%;;
  }